@page "/Error"

<PageTitle>Error</PageTitle>

<section class="card">
    <h1>Something went wrong</h1>
    <p>We ran into an unexpected issue. Please refresh and try again.</p>
    <a class="button" href="/">Return to lobby</a>
</section>
